<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/head :: head" th:with="title=日志列表">
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="startCreateTime" id="startCreateTime" lay-verify="startCreateTime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="endCreateTime" id="endCreateTime" lay-verify="endCreateTime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit lay-filter="data-search-btn">搜索</a>
                            <button class="layui-btn  layui-btn-warm" type="reset">重置</button>
                            <button class="layui-btn  layui-btn-warm"  lay-submit lay-filter="data-export-btn">导出</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
        </script>
    </div>
</div>
<script type="text/javascript" th:inline="none">
        //layer   使用教程https://www.layui.com/doc/modules/laydate.html

        layui.use(['form','table','laydate','liuQi'], function () {
            var $ = layui.jquery,
                    form = layui.form,
                    table = layui.table,
                    laydate = layui.laydate,
                    liuQi = layui.liuQi;
            var table_height=liuQi.getTableHeight($("fieldset").height());
            //日期
            laydate.render({
                elem: '#startCreateTime',
                type: 'datetime'  //year,month,date,time,datetime
            });
            //日期
            laydate.render({
                elem: '#endCreateTime',
                type: 'datetime'
            });
            form.render();

            table.render({
                elem: '#currentTableId',
                url: '/admin/logger/queryList',
                cols: [[
                    {type: "checkbox", width: 30, align: "center",fixed: "left"},
                    {field: 'id',width: 80,align: "center", title: 'ID'},
                    {field: 'typeStr', title: '类型',align: "center"},
                    {field: 'title', title: '标题',align: "center"},
                    {field: 'content', title: '内容',align: "center"},
                    {field: 'adminName', title: '管理员',align: "center"},
                    {field: 'createTime', title: '创建时间',align: "center"}
                    /*{field: 'roleId', title: '财富',align: "center",
                        templet: function (d) {
                            return d.id + "-" + d.name
                        }
                    },*/
                ]],
                height:table_height,
                limits: [10, 20, 50, 100],
                limit: 20,
                page: true
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = data.field;

                //执行搜索重载
                table.reload('currentTableId', {
                    page: {
                        curr: 1
                    }
                    , where: result
                }, 'data');
                return false;
            });

            // 监听搜索操作
            form.on('submit(data-export-btn)', function (data) {
                var params = data.field;
                liuQi.export('/admin/logger/exportExc',params);
                return false;
            });


            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                } else if (obj.event === 'view') {
                }
            });
        });
</script>
</body>
</html>