<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/head :: head" th:with="title=添加融资融币记录">
</head>
<body>
<div class="page-container">
    <div class="text-l">
        <form id="searchFrom" method="get" action="/admin/financingRecord/exportExc">
            ID:<input type="text" class="input-text" style="width:80px" autocomplete="off" placeholder="id" id="id" name="id">
              用户：
              <input type="text" class="input-text" style="width:120px" autocomplete="off" placeholder="用户" id="userName" name="userName">
              币种：
                <span class="select-box inline">
                    <select class="select" id="currencyId" name="currencyId">
                        <option value="">全部</option>
                        <option th:each="t,tState:${currencyList}" th:value="${t.id}" th:text="${t.name}" ></option>
                    </select>
                </span>
              状态：
              <span class="select-box inline">
                <select class="select" id="status" name="status">
                    <option value="">请选择</option>
                    <option th:each="t,tState:${ statusList}" th:value="${t.key}" th:text="${t.name}" ></option>
                </select>
            </span>
            时间：
            <input type="text" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" autocomplete="off" id="startCreateTime" name="startCreateTime" class="input-text Wdate" style="width:180px;">
            -
            <input type="text" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" autocomplete="off" id="endCreateTime" name="endCreateTime" class="input-text Wdate" style="width:180px;">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <a href="javascript:" onclick="exportExc()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe600;</i> 导出</a>
                <a class="btn btn-success radius r btnR" style="line-height:1.6em" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
                <button type="reset" class="btn btn-success radius r btnR" > 重置</button>
                <button type="button" class="btn btn-success radius r btnR" onclick="search()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </div>
        </form>
    </div>
    <div class="mt-20">
        <table id="dataTable" class="table table-border table-bordered table-hover table-bg table-sort dataTable">
            <thead>
            <tr class="text-c">
                <th width="25">序号</th>
                <th width="25">ID</th>
                <th width="80">用户</th>
                <th width="80">扣除币种</th>
                <th width="80">融资数量</th>
                <th width="80">获取币种</th>
                <th width="80">获取币种数量</th>
                <th width="80">状态</th>
                <th width="80">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    //查询信息
    function getSearch(search){
        if(search == undefined){
            search={};
        }
        //获取表单信息
        var data=$("#searchFrom").serializeObject();
        return  $.extend(search, data);
    }
    var tbl;
    $(function () {
        tbl=$('.dataTable').dataTable({
            'ordering':false,//是否排序
            //"aaSorting": [ 0, "asc" ],//默认第几个排序
            "ajax": {
                url:"/admin/financingRecord/queryList",
                type:"post",
                dataType: "json",
                data:function (d) {
                    //删除其他无关字段
                    delete d.columns;
                    delete d.search;
                    delete d.order;
                    d=getSearch(d);
                },
                dataSrc:function(data){
                    if(data.recordsTotal==null){
                        data.recordsTotal=0;
                    }
                    //查询结束取消按钮不可用
                    return data.rows;//自定义数据源，默认为data
                }
            },
            "columns": [
                { "data": "id","bSortable": false,
                    "render": function ( data, type, full, meta ) {
                        return meta.row+1;
                    }
                },
                { "data": "id" ,"bSortable": false},
                { "data": "userName" ,"bSortable": false},
                { "data": "currencyName" ,"bSortable": false},
                { "data": "quantity" ,"bSortable": false},
                { "data": "financingCurrencyName" ,"bSortable": false},
                { "data": "grantQuantity" ,"bSortable": false},
                { "data": "statusStr" ,"bSortable": false,
                    "render": function (data, type,row) {
                        var html="";
                        if(row.status==1){
                            html="<span class='label label-success radius'>"+row.statusStr+"</span>";
                        }else{
                            html="<span class='label label-warning radius'>"+row.statusStr+"</span>";
                        }
                        return html;
                    }
                },
                    { "data":  null,"bSortable": false,
                    "render": function (data, type,row) {
                        var html="";
                        if(row.status==0){
                            var id = '"' + data.id + '"';
                            html += "<a title='手动发放' href='javascript:;' class='btn radius label-warning' onclick='send("+ id + ")' >手动发放</a>";
                        }
                        return html;
                    }
                }
            ],
            "retrieve":true,
            "searching": false,
            "pageLength": 20,
            "aLengthMenu" : [ 20, 30, 50 ] , //更改显示记录数选项  	    "iDisplayLength" : 2, //默认显示的记录数
            "bLengthChange": true,                  //是否允许用户自定义每页显示条数。
            "bPaginate": true,                      //是否分页。
            "bProcessing": true,                    //当datatable获取数据时候是否显示正在处理提示信息。
            "sPaginationType": 'full_numbers',      //分页样式
            "serverSide":true,
            "language": {
                "sInfoFiltered": ""//去除显示
            }
        });
    });

    //查询
    function search(){
        tbl.fnClearTable();
    }
    //导出
    function exportExc(){
        $("#searchFrom").submit();
    }

    //手动发放
    function send(id){
        if(confirm("是否确认手动发放")){
            $.ajax({
                url:"/admin/financingRecord/send",
                data:{"id":id},
                dataType:"json",
                success:function(data){
                    if(data.code==0){
                        //刷新
                        search();
                        //提示
                        layer.msg(data.msg,{icon: 1,time:1000});
                    }else{
                        layer.msg(data.msg,{icon: 5,time:2000});
                    }
                }
            });
        }
    }

</script>
</body>
</html>