<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/head :: head" th:with="title=撮合监控">
</head>
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="dataTable" class="layui-table">
            <thead>
            <tr>
                <th colspan="10" scope="col">撮合监控</th>
            </tr>
            <tr class="text-c">
                <th>交易对</th>
                <th>时间</th>
                <th>开盘价</th>
                <th>24小时最大</th>
                <th>24小时最小</th>
                <th>当前价格</th>
                <th>24交易量</th>
                <th>zb价格</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="item:${list}" >
                <td th:text="${item.tradeName}"></td>
                <td th:text="${item.time}" th:class="${item.error?'color:red':''}"></td>
                <td th:text="${#numbers.formatDecimal(item.tradeInfoDto.open,1,8)}"></td>
                <td th:text="${#numbers.formatDecimal(item.tradeInfoDto.tradeMaxPrice,1,8)}"></td>
                <td th:text="${#numbers.formatDecimal(item.tradeInfoDto.tradeMinPrice,1,8)}"></td>
                <td th:text="${#numbers.formatDecimal(item.tradeInfoDto.currentPrice,1,8)}"></td>
                <td th:text="${#numbers.formatDecimal(item.tradeInfoDto.tradeNums,1,8)}"></td>
                <td th:text="${item.price}"></td>
                <td><span th:text="${item.tradeSwitchStr}" th:class="${item.tradeSwitch==1?'label label-success radius':'label label-warning radius'}"></span></td>
                <td>
                    <a title='启动' href='javascript:;' class='btn radius label-success' th:if="${item.tradeSwitch==0}" th:onclick="'javascript:onOffTrade('+${item.tradeId}+',1)' ">启动</a>
                    <a title='暂停' href='javascript:;' class='btn radius label-warning' th:if="${item.tradeSwitch==1}" th:onclick="'javascript:onOffTrade('+${item.tradeId}+',0)' ">暂停</a>
                    <a title='交易对缓存' href='javascript:;' class='btn radius label-warning' th:onclick="'javascript:cleanTradeCache('+${item.tradeId}+')' ">清除交易对缓存</a>
                    <a title='手动推送交易' href="javascript:" class='btn radius label-warning' th:onclick="'javascript:pushTrade('+${item.tradeId}+')' ">手动推送交易</a>
                    <a title='手动同步成交记录' href="javascript:" class='btn radius label-warning' th:onclick="'javascript:synTrade('+${item.tradeId}+')' ">手动同步买卖记录</a>
                    <a title='清除成交记录' href="javascript:" class='btn radius label-warning' th:onclick="'javascript:cleanReord('+${item.tradeId}+')' ">清除成交记录</a>
                    <a title='K线缓存' href="javascript:" class='btn radius label-warning' th:onclick="'javascript:kcache('+${item.tradeId}+')' ">K线缓存</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    function onOffTrade(id,tradeSwitch){
        $.ajax({
            url:"/admin/redis/onOffTrade",
            data:{"id":id,"changeSwitch":tradeSwitch},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
                window.location.reload();
            }
        });
    }

    function kcache(id){
        $.ajax({
            url:"/admin/redis/kcache",
            data:{"id":id},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
            }
        });
    }

    function pushTrade(id){
        $.ajax({
            url:"/admin/redis/pushTrade",
            data:{"id":id},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
            }
        });
    }

    function synTrade(id){
        $.ajax({
            url:"/admin/redis/synTrade",
            data:{"id":id},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
            }
        });
    }
    function cleanReord(id){
        $.ajax({
            url:"/admin/redis/cleanReord",
            data:{"id":id},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
            }
        });
    }

    function cleanTradeCache(id){
        $.ajax({
            url:"/admin/redis/cleanTradeCache",
            data:{"id":id},
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time:1000});
            }
        });
    }
</script>
</body>
</html>