<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.CtcConfigMapper">

	<!-- 常用查询 -->
	<sql id="allColumn">
		<trim suffixOverrides=",">
			t.id,t.create_time,t.update_time,t.remark,t.version,t.currency_id,t.buy_switch,t.sell_switch,
			t.buy_min,t.sell_min,t.buy_max,t.sell_max,t.price,t.outer_price,t.buy_rang,t.sell_rang,t.start_time,t.end_time,
		</trim>
	</sql>

    <!-- 数据库和实体映射  对应数据库实体-->
	<resultMap type="ctcConfigModel" id="ctcConfig">
		<result property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remark" column="remark"/>
		<result property="version" column="version"/>
		<result property="currencyId" column="currency_id"/>
		<result property="buySwitch" column="buy_switch"/>
		<result property="sellSwitch" column="sell_switch"/>
		<result property="buyMin" column="buy_min"/>
		<result property="sellMin" column="sell_min"/>
		<result property="buyMax" column="buy_max"/>
		<result property="sellMax" column="sell_max"/>
		<result property="price" column="price"/>
		<result property="outerPrice" column="outer_price"/>
		<result property="buyRang" column="buy_rang"/>
		<result property="sellRang" column="sell_rang"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
	</resultMap>

	<!-- dto映射  添加的字段放在这块-->
    <resultMap type="ctcConfigModelDto" extends="ctcConfig" id="ctcConfigDto">
    </resultMap>

	<!-- 新增 -->
	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="ctcConfigModel">
		insert into t_ctc_config(
		<trim  suffixOverrides=",">
				<if test="createTime != null">`create_time`,</if>
				<if test="updateTime != null">`update_time`,</if>
				<if test="remark != null">`remark`,</if>
				<if test="version != null">`version`,</if>
				<if test="currencyId != null">`currency_id`,</if>
				<if test="buySwitch != null">`buy_switch`,</if>
				<if test="sellSwitch != null">`sell_switch`,</if>
				<if test="buyMin != null">`buy_min`,</if>
				<if test="sellMin != null">`sell_min`,</if>
				<if test="buyMax != null">`buy_max`,</if>
				<if test="sellMax != null">`sell_max`,</if>
				<if test="price != null">`price`,</if>
				<if test="outerPrice != null">`outer_price`,</if>
				<if test="buyRang != null">`buy_rang`,</if>
				<if test="sellRang != null">`sell_rang`,</if>
				<if test="startTime != null">`start_time`,</if>
				<if test="endTime != null">`end_time`,</if>
		
		</trim>
		) values(
		<trim suffixOverrides=",">
				<if test="createTime != null">#{createTime},</if>
				<if test="updateTime != null">#{updateTime},</if>
				<if test="remark != null">#{remark},</if>
				<if test="version != null">#{version},</if>
				<if test="currencyId != null">#{currencyId},</if>
				<if test="buySwitch != null">#{buySwitch},</if>
				<if test="sellSwitch != null">#{sellSwitch},</if>
				<if test="buyMin != null">#{buyMin},</if>
				<if test="sellMin != null">#{sellMin},</if>
				<if test="buyMax != null">#{buyMax},</if>
				<if test="sellMax != null">#{sellMax},</if>
				<if test="price != null">#{price},</if>
				<if test="outerPrice != null">#{outerPrice},</if>
				<if test="buyRang != null">#{buyRang},</if>
				<if test="sellRang != null">#{sellRang},</if>
				<if test="startTime != null">#{startTime},</if>
				<if test="endTime != null">#{endTime},</if>
		</trim>
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="ctcConfigModel">
		update  t_ctc_config
		<set>
            <if test="createTime != null">
                    `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                    `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                    `remark` = #{remark},
            </if>
            <if test="version != null">
                    `version` = #{version},
            </if>
            <if test="currencyId != null">
                    `currency_id` = #{currencyId},
            </if>
            <if test="buySwitch != null">
                    `buy_switch` = #{buySwitch},
            </if>
            <if test="sellSwitch != null">
                    `sell_switch` = #{sellSwitch},
            </if>
            <if test="buyMin != null">
                    `buy_min` = #{buyMin},
            </if>
            <if test="sellMin != null">
                    `sell_min` = #{sellMin},
            </if>
            <if test="buyMax != null">
                    `buy_max` = #{buyMax},
            </if>
            <if test="sellMax != null">
                    `sell_max` = #{sellMax},
            </if>
            <if test="price != null">
                    `price` = #{price},
            </if>
            <if test="outerPrice != null">
                    `outer_price` = #{outerPrice},
            </if>
            <if test="buyRang != null">
                    `buy_rang` = #{buyRang},
            </if>
            <if test="sellRang != null">
                    `sell_rang` = #{sellRang},
            </if>
			<if test="startTime != null">
				`start_time` = #{startTime},
			</if>
			<if test="endTime != null">
				`end_time` = #{endTime},
			</if>
		</set>
		where id = #{id}
	</update>


	<!-- 查询 -->
	<select id="getById" resultMap="ctcConfigDto">
		select <include refid="allColumn"></include> 
		from  t_ctc_config t 
		where t.id = #{id}
	</select>
	<!-- 查询 -->
	<select id="getByIds" resultMap="ctcConfigDto">
		select <include refid="allColumn"></include> 
		from  t_ctc_config t 
		where  t.id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="ctcConfigModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

	<!-- 查询列表 -->
	<select id="queryList" parameterType="ctcConfigModelDto" resultMap="ctcConfigDto">
		select <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
		<!-- 排序 -->
		<if test="sortName != null and sortName!=''">
			order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                 ${sortType}
            </if>
		</if>
	</select>

    <!-- base基础查询 -->
	<sql id="queryList_base">
        from  t_ctc_config t
        <trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null    and id &gt; -2 ">
				AND t.id = #{id}
            </if>
	
			<if test="createTime != null   ">
				AND t.create_time = #{createTime}
            </if>
	
			<if test="updateTime != null   ">
				AND t.update_time = #{updateTime}
            </if>
	
			<if test="remark != null and  remark != ''   ">
				AND t.remark = #{remark}
            </if>
	
			<if test="version != null    and version &gt; -2 ">
				AND t.version = #{version}
            </if>
	
			<if test="currencyId != null    and currencyId &gt; -2 ">
				AND t.currency_id = #{currencyId}
            </if>
	
			<if test="buySwitch != null    and buySwitch &gt; -2 ">
				AND t.buy_switch = #{buySwitch}
            </if>
	
			<if test="sellSwitch != null    and sellSwitch &gt; -2 ">
				AND t.sell_switch = #{sellSwitch}
            </if>
	
			<if test="buyMin != null   ">
				AND t.buy_min = #{buyMin}
            </if>
	
			<if test="sellMin != null   ">
				AND t.sell_min = #{sellMin}
            </if>
	
			<if test="buyMax != null  ">
				AND t.buy_max = #{buyMax}
            </if>
	
			<if test="sellMax != null   ">
				AND t.sell_max = #{sellMax}
            </if>
	
			<if test="price != null   ">
				AND t.price = #{price}
            </if>
	
			<if test="outerPrice != null   ">
				AND t.outer_price = #{outerPrice}
            </if>
	
			<if test="buyRang != null   ">
				AND t.buy_rang = #{buyRang}
            </if>
	
			<if test="sellRang != null   ">
				AND t.sell_rang = #{sellRang}
            </if>

			<if test="startTime != null   ">
				AND t.start_time = #{startTime}
			</if>

			<if test="endTime != null   ">
				AND t.end_time = #{endTime}
			</if>

			<if test="startCreateTime!=null">
				and t.create_time>#{startCreateTime}
			</if>
			<if test="endCreateTime!=null">
				<![CDATA[and t.create_time<=#{endCreateTime}]]>
			</if>
			
        </trim>
	</sql>


	<select id="getByCurrencyId" resultMap="ctcConfigDto">
		select <include refid="allColumn"></include>
		from  t_ctc_config t
		where  t.currency_id = #{currencyId}
		limit 1
	</select>
</mapper>