<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.FinancingConfigMapper">

	<!-- 常用查询 -->
	<sql id="allColumn">
		<trim suffixOverrides=",">
			t.id,t.create_time,t.update_time,t.remark,t.version,t.currency_id,t.quantity,t.cur_quantity,t.financing_currency_id,t.exchange,t.start_time,t.end_time,t.min,t.max,t.grant_type,t.status,
		</trim>
	</sql>

    <!-- 数据库和实体映射  对应数据库实体-->
	<resultMap type="financingConfigModel" id="financingConfig">
		<result property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remark" column="remark"/>
		<result property="version" column="version"/>
		<result property="currencyId" column="currency_id"/>
		<result property="quantity" column="quantity"/>
		<result property="curQuantity" column="cur_quantity"/>
		<result property="financingCurrencyId" column="financing_currency_id"/>
		<result property="exchange" column="exchange"/>
		<result property="startTime" column="start_time"/>
		<result property="endTime" column="end_time"/>
		<result property="min" column="min"/>
		<result property="max" column="max"/>
		<result property="grantType" column="grant_type"/>
		<result property="status" column="status"/>
	</resultMap>

	<!-- dto映射  添加的字段放在这块-->
    <resultMap type="financingConfigModelDto" extends="financingConfig" id="financingConfigDto">
    </resultMap>

	<!-- 新增 -->
	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="financingConfigModel">
		insert into t_financing_config(
		<trim  suffixOverrides=",">
				<if test="createTime != null">`create_time`,</if>
				<if test="updateTime != null">`update_time`,</if>
				<if test="remark != null">`remark`,</if>
				<if test="version != null">`version`,</if>
				<if test="currencyId != null">`currency_id`,</if>
				<if test="quantity != null">`quantity`,</if>
				<if test="curQuantity != null">`cur_quantity`,</if>
				<if test="financingCurrencyId != null">`financing_currency_id`,</if>
				<if test="exchange != null">`exchange`,</if>
				<if test="startTime != null">`start_time`,</if>
				<if test="endTime != null">`end_time`,</if>
				<if test="min != null">`min`,</if>
				<if test="max != null">`max`,</if>
				<if test="grantType != null">`grant_type`,</if>
				<if test="status != null">`status`,</if>
		
		</trim>
		) values(
		<trim suffixOverrides=",">
				<if test="createTime != null">#{createTime},</if>
				<if test="updateTime != null">#{updateTime},</if>
				<if test="remark != null">#{remark},</if>
				<if test="version != null">#{version},</if>
				<if test="currencyId != null">#{currencyId},</if>
				<if test="quantity != null">#{quantity},</if>
				<if test="curQuantity != null">#{curQuantity},</if>
				<if test="financingCurrencyId != null">#{financingCurrencyId},</if>
				<if test="exchange != null">#{exchange},</if>
				<if test="startTime != null">#{startTime},</if>
				<if test="endTime != null">#{endTime},</if>
				<if test="min != null">#{min},</if>
				<if test="max != null">#{max},</if>
				<if test="grantType != null">#{grantType},</if>
				<if test="status != null">#{status},</if>
		
		</trim>
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="financingConfigModel">
		update  t_financing_config
		<set>
            <if test="createTime != null">
                    `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                    `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                    `remark` = #{remark},
            </if>
            <if test="version != null">
                    `version` = #{version},
            </if>
            <if test="currencyId != null">
                    `currency_id` = #{currencyId},
            </if>
            <if test="quantity != null">
                    `quantity` = #{quantity},
            </if>
            <if test="curQuantity != null">
                    `cur_quantity` = #{curQuantity},
            </if>
            <if test="financingCurrencyId != null">
                    `financing_currency_id` = #{financingCurrencyId},
            </if>
            <if test="exchange != null">
                    `exchange` = #{exchange},
            </if>
            <if test="startTime != null">
                    `start_time` = #{startTime},
            </if>
            <if test="endTime != null">
                    `end_time` = #{endTime},
            </if>
            <if test="min != null">
                    `min` = #{min},
            </if>
            <if test="max != null">
                    `max` = #{max},
            </if>
            <if test="grantType != null">
                    `grant_type` = #{grantType},
            </if>
            <if test="status != null">
                    `status` = #{status},
            </if>
		</set>
		where id = #{id}
	</update>


	<!-- 查询 -->
	<select id="getById" resultMap="financingConfigDto">
		select <include refid="allColumn"></include> 
		from  t_financing_config t 
		where t.id = #{id}
	</select>
	<!-- 查询 -->
	<select id="getByIds" resultMap="financingConfigDto">
		select <include refid="allColumn"></include> 
		from  t_financing_config t 
		where  t.id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="financingConfigModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

	<!-- 查询列表 -->
	<select id="queryList" parameterType="financingConfigModelDto" resultMap="financingConfigDto">
		select <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
		<!-- 排序 -->
		<if test="sortName != null and sortName!=''">
			order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                 ${sortType}
            </if>
		</if>
	</select>

    <!-- base基础查询 -->
	<sql id="queryList_base">
        from  t_financing_config t
        <trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null    and id &gt; -2 ">
				AND t.id = #{id}
            </if>
	
			<if test="createTime != null  ">
				AND t.create_time = #{createTime}
            </if>
	
			<if test="updateTime != null  ">
				AND t.update_time = #{updateTime}
            </if>
	
			<if test="remark != null and  remark != ''   ">
				AND t.remark = #{remark}
            </if>
	
			<if test="version != null    and version &gt; -2 ">
				AND t.version = #{version}
            </if>
	
			<if test="currencyId != null    and currencyId &gt; -2 ">
				AND t.currency_id = #{currencyId}
            </if>
	
			<if test="quantity != null   ">
				AND t.quantity = #{quantity}
            </if>
	
			<if test="curQuantity != null   ">
				AND t.cur_quantity = #{curQuantity}
            </if>
	
			<if test="financingCurrencyId != null    and financingCurrencyId &gt; -2 ">
				AND t.financing_currency_id = #{financingCurrencyId}
            </if>
	
			<if test="exchange != null   ">
				AND t.exchange = #{exchange}
            </if>
	
			<if test="startTime != null    ">
				AND t.start_time = #{startTime}
            </if>
	
			<if test="endTime != null  ">
				AND t.end_time = #{endTime}
            </if>
	
			<if test="min != null  ">
				AND t.min = #{min}
            </if>
	
			<if test="max != null  ">
				AND t.max = #{max}
            </if>
	
			<if test="grantType != null    and grantType &gt; -2 ">
				AND t.grant_type = #{grantType}
            </if>
	
			<if test="status != null    and status &gt; -2 ">
				AND t.status = #{status}
            </if>
			<if test="startCreateTime!=null">
				and t.create_time>#{startCreateTime}
			</if>
			<if test="endCreateTime!=null">
				<![CDATA[and t.create_time<=#{endCreateTime}]]>
			</if>
			
        </trim>
	</sql>

</mapper>