<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.LoggerMapper">

	<!-- 常用查询 -->
	<sql id="allColumn">
		<trim suffixOverrides=",">
			t.id,t.update_time,t.create_time,t.remark,t.version,
			t.type,t.title,t.content,t.admin_id,
		</trim>
	</sql>

	<!-- 数据库和实体映射-->
	<resultMap type="loggerModel" id="logger">
	    <result property="id" column="id"/>
	    <result property="updateTime" column="update_time"/>
	    <result property="createTime" column="create_time"/>
	    <result property="remark" column="remark"/>
	    <result property="version" column="version"/>
		<result property="type" column="type"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="adminId" column="admin_id"/>
	</resultMap>
	<resultMap type="loggerModelDto" extends="logger" id="loggerDto">
	</resultMap>

	<!-- 新增 -->
	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="loggerModel">
		insert into t_logger(
		<trim  suffixOverrides=",">
			update_time,create_time,remark,version,
			type,title,content,admin_id,
		</trim>
		) values(
		<trim suffixOverrides=",">
			#{updateTime},#{createTime},#{remark},#{version},
			#{type},#{title},#{content},#{adminId},
		</trim>
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="loggerModel">
		update  t_logger
		<set>
		    <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
		    <if test="createTime != null">
                create_time = #{createTime},
            </if>
		    <if test="remark != null">
                remark = #{remark},
            </if>
		    <if test="version != null">
                version = #{version},
            </if>
	            <if test="type != null">
                    type = #{type},
            </if>
            <if test="title != null">
                    title = #{title},
            </if>
            <if test="content != null">
                    content = #{content},
            </if>
            <if test="adminId != null">
                    admin_id = #{adminId},
            </if>

		</set>
		where id = #{id}
	</update>

	<!-- 查询 -->
	<select id="getById" resultMap="loggerDto">
		select <include refid="allColumn"></include> 
		from  t_logger t 
		where t.id = #{id}
		
	</select>
	<!-- 查询 -->
	<select id="getByIds" resultMap="loggerDto">
		select <include refid="allColumn"></include> 
		from  t_logger t 
		where  t.id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>


	<!-- 查询列表 -->
	<select id="queryList" parameterType="loggerModelDto" resultMap="loggerDto">
		select <include refid="allColumn"></include> 
		from  t_logger t
		<trim prefix="where" prefixOverrides="AND|OR">
		
			<if test="id != null  ">
				AND t.id = #{id}
			</if>
		
			<if test="updateTime != null   ">
				AND t.update_time = #{updateTime}
			</if>
		
			<if test="createTime != null   ">
				AND t.create_time = #{createTime}
			</if>
		
			<if test="remark != null  and  remark != '' ">
				AND t.remark = #{remark}
			</if>
		
			<if test="version != null  ">
				AND t.version = #{version}
			</if>
		
			<if test="type != null and  type != '' and type &gt; -2">
				AND t.type = #{type}
			</if>

			<if test="title != null and  title != '' ">
				AND t.title = #{title}
			</if>

			<if test="content != null and  content != '' ">
				AND t.content = #{content}
			</if>

			<if test="contentLike != null and  contentLike != '' ">
				AND t.content like concat('%', #{contentLike},'%')
			</if>

			<if test="adminId != null and adminId &gt; -2">
				AND t.admin_id = #{adminId}
			</if>
			<if test="startCreateTime!=null">
				and t.create_time>#{startCreateTime}
			</if>
			<if test="endCreateTime!=null">
				<![CDATA[and t.create_time<=#{endCreateTime}]]>
			</if>

		</trim>
		
		<!-- 排序 -->
		<if test="sortName != null and sortName!=''">
			order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                 ${sortType}
            </if>
		</if>

	</select>



</mapper>