<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.ReConfigMapper">

	<!-- 常用查询 -->
	<sql id="allColumn">
		<trim suffixOverrides=",">
			t.id,t.create_time,t.update_time,t.remark,t.version,t.url,t.store_no,t.key,
		</trim>
	</sql>

    <!-- 数据库和实体映射  对应数据库实体-->
	<resultMap type="reConfigModel" id="reConfig">
		<result property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remark" column="remark"/>
		<result property="version" column="version"/>
		<result property="url" column="url"/>
		<result property="storeNo" column="store_no"/>
		<result property="key" column="key"/>
	</resultMap>

	<!-- dto映射  添加的字段放在这块-->
    <resultMap type="reConfigModelDto" extends="reConfig" id="reConfigDto">
    </resultMap>

	<!-- 新增 -->
	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="reConfigModel">
		insert into t_re_config(
		<trim  suffixOverrides=",">
				<if test="createTime != null">`create_time`,</if>
				<if test="updateTime != null">`update_time`,</if>
				<if test="remark != null">`remark`,</if>
				<if test="version != null">`version`,</if>
				<if test="url != null">`url`,</if>
				<if test="storeNo != null">`store_no`,</if>
				<if test="key != null">`key`,</if>
		
		</trim>
		) values(
		<trim suffixOverrides=",">
				<if test="createTime != null">#{createTime},</if>
				<if test="updateTime != null">#{updateTime},</if>
				<if test="remark != null">#{remark},</if>
				<if test="version != null">#{version},</if>
				<if test="url != null">#{url},</if>
				<if test="storeNo != null">#{storeNo},</if>
				<if test="key != null">#{key},</if>
		
		</trim>
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="reConfigModel">
		update  t_re_config
		<set>
            <if test="createTime != null">
                    `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                    `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                    `remark` = #{remark},
            </if>
            <if test="version != null">
                    `version` = #{version},
            </if>
            <if test="url != null">
                    `url` = #{url},
            </if>
            <if test="storeNo != null">
                    `store_no` = #{storeNo},
            </if>
            <if test="key != null">
                    `key` = #{key},
            </if>
		</set>
		where id = #{id}
	</update>


	<!-- 查询 -->
	<select id="getById" resultMap="reConfigDto">
		select <include refid="allColumn"></include> 
		from  t_re_config t 
		where t.id = #{id}
	</select>
	<!-- 查询 -->
	<select id="getByIds" resultMap="reConfigDto">
		select <include refid="allColumn"></include> 
		from  t_re_config t 
		where  t.id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="reConfigModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

	<!-- 查询列表 -->
	<select id="queryList" parameterType="reConfigModelDto" resultMap="reConfigDto">
		select <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
		<!-- 排序 -->
		<if test="sortName != null and sortName!=''">
			order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                 ${sortType}
            </if>
		</if>
	</select>

    <!-- base基础查询 -->
	<sql id="queryList_base">
        from  t_re_config t
        <trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null    and id &gt; -2 ">
				AND t.id = #{id}
            </if>
	
			<if test="createTime != null   ">
				AND t.create_time = #{createTime}
            </if>
	
			<if test="updateTime != null   ">
				AND t.update_time = #{updateTime}
            </if>
	
			<if test="remark != null and  remark != ''   ">
				AND t.remark = #{remark}
            </if>
	
			<if test="version != null    and version &gt; -2 ">
				AND t.version = #{version}
            </if>
	
			<if test="url != null and  url != ''   ">
				AND t.url = #{url}
            </if>
	
			<if test="storeNo != null and  storeNo != ''   ">
				AND t.store_no = #{storeNo}
            </if>
	
			<if test="key != null and  key != ''   ">
				AND t.key = #{key}
            </if>
	
			
            <if test="startCreateTime!=null">
                and t.create_time>#{startCreateTime}
            </if>
            <if test="endCreateTime!=null">
                <![CDATA[and t.create_time<=#{endCreateTime}]]>
            </if>
        </trim>
	</sql>

</mapper>