<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.business.mapper.UserSysMapper">

	<!-- 常用查询 -->
	<sql id="allColumn">
		<trim suffixOverrides=",">
			t.id,t.create_time,t.update_time,t.remark,t.version,t.name,t.pwd,t.status,t.currency_id,
		</trim>
	</sql>

    <!-- 数据库和实体映射  对应数据库实体-->
	<resultMap type="userSysModel" id="userSys">
		<result property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="remark" column="remark"/>
		<result property="version" column="version"/>
		<result property="name" column="name"/>
		<result property="pwd" column="pwd"/>
		<result property="status" column="status"/>
		<result property="currencyId" column="currency_id"/>
	</resultMap>

	<!-- dto映射  添加的字段放在这块-->
    <resultMap type="userSysModelDto" extends="userSys" id="userSysDto">
    </resultMap>

	<!-- 新增 -->
	<insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="userSysModel">
		insert into t_user_sys(
		<trim  suffixOverrides=",">
				<if test="createTime != null">`create_time`,</if>
				<if test="updateTime != null">`update_time`,</if>
				<if test="remark != null">`remark`,</if>
				<if test="version != null">`version`,</if>
				<if test="name != null">`name`,</if>
				<if test="pwd != null">`pwd`,</if>
				<if test="status != null">`status`,</if>
				<if test="currencyId != null">`currency_id`,</if>
		
		</trim>
		) values(
		<trim suffixOverrides=",">
				<if test="createTime != null">#{createTime},</if>
				<if test="updateTime != null">#{updateTime},</if>
				<if test="remark != null">#{remark},</if>
				<if test="version != null">#{version},</if>
				<if test="name != null">#{name},</if>
				<if test="pwd != null">#{pwd},</if>
				<if test="status != null">#{status},</if>
				<if test="currencyId != null">#{currencyId},</if>
		
		</trim>
		)
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="userSysModel">
		update  t_user_sys
		<set>
            <if test="createTime != null">
                    `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                    `update_time` = #{updateTime},
            </if>
            <if test="remark != null">
                    `remark` = #{remark},
            </if>
            <if test="version != null">
                    `version` = #{version},
            </if>
            <if test="name != null">
                    `name` = #{name},
            </if>
            <if test="pwd != null">
                    `pwd` = #{pwd},
            </if>
            <if test="status != null">
                    `status` = #{status},
            </if>
            <if test="currencyId != null">
                    `currency_id` = #{currencyId},
            </if>
		</set>
		where id = #{id}
	</update>


	<!-- 查询 -->
	<select id="getById" resultMap="userSysDto">
		select <include refid="allColumn"></include> 
		from  t_user_sys t 
		where t.id = #{id}
	</select>
	<!-- 查询 -->
	<select id="getByIds" resultMap="userSysDto">
		select <include refid="allColumn"></include> 
		from  t_user_sys t 
		where  t.id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>


    <!-- 优化查询count -->
    <select id="queryList_COUNT" parameterType="userSysModelDto" resultType="Long">
        select count(t.id)
        <include refid="queryList_base"></include>
    </select>

	<!-- 查询列表 -->
	<select id="queryList" parameterType="userSysModelDto" resultMap="userSysDto">
		select <include refid="allColumn"></include>
        <include refid="queryList_base"></include>
		<!-- 排序 -->
		<if test="sortName != null and sortName!=''">
			order by t.${sortName}
            <if test="sortType != null and sortType!=''">
                 ${sortType}
            </if>
		</if>
	</select>

    <!-- base基础查询 -->
	<sql id="queryList_base">
        from  t_user_sys t
        <trim prefix="where" prefixOverrides="AND|OR">
			<if test="id != null    and id &gt; -2 ">
				AND t.id = #{id}
            </if>
	
			<if test="createTime != null   ">
				AND t.create_time = #{createTime}
            </if>
	
			<if test="updateTime != null  ">
				AND t.update_time = #{updateTime}
            </if>
	
			<if test="remark != null and  remark != ''   ">
				AND t.remark = #{remark}
            </if>
	
			<if test="version != null    and version &gt; -2 ">
				AND t.version = #{version}
            </if>
	
			<if test="name != null and  name != ''   ">
				AND t.name = #{name}
            </if>
	
			<if test="pwd != null and  pwd != ''   ">
				AND t.pwd = #{pwd}
            </if>
	
			<if test="status != null    and status &gt; -2 ">
				AND t.status = #{status}
            </if>
	
			<if test="currencyId != null    and currencyId &gt; -2 ">
				AND t.currency_id = #{currencyId}
            </if>

			<if test="startCreateTime!=null">
				and t.create_time>#{startCreateTime}
			</if>
			<if test="endCreateTime!=null">
				<![CDATA[and t.create_time<=#{endCreateTime}]]>
			</if>
        </trim>
	</sql>

	<select id="findByName" resultMap="userSysDto">
		select <include refid="allColumn"></include>
		from  t_user_sys t
		where t.name = #{name}

	</select>
</mapper>